{% extends 'accounts/base.html' %}

{% block title %}Drop Course Confirmation{% endblock %}

{% block content %}
<div class="container my-5">
    <!-- ADD COURSE -->
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="card">
                <p class="h3 card-header text-center">Drop Course Confirmation</p>
                <div class="card-body">
                    <p>Hi {{ user.name }}, we thought it fair to let you confirm that you intend to drop this course. Please note that this action is irreversible.</p>
                    <form method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-block btn-lg">Confirm Drop</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    
</div>
{% endblock content %}

