{% extends 'accounts/base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="container my-5">
    <!-- LOGIN -->
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card">
                <p class="card-header h3 text-center">Sign Up</p>
                <div class="card-body">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary btn-block btn-lg">Sign Up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script>
$(document).ready(function () {
    var instructor = $('#id_is_instructor');
    var face_pic = $('#div_id_face_pic')

    instructor.on('click', function() {
       if($(this).is(':checked')) {
           face_pic.hide();
           face_pic.find('input').attr('required', false);
       } else {
          face_pic.show();
          face_pic.find('input').attr('required', true);
       }
    });
})
</script>
{% endblock javascript %}

