<div class="row">
    <div class="col-md-4">
        <div class="border p-2">
            {% for student in attendance.students.all %}
                <a class="proof" href="{% url 'attendance:view_proof' pks=student.pk pka=attendance.pk %}">
                    <strong>{{ student.name }}</strong>
                </a> <br>
            {% endfor %}
        </div>
    </div>
    <div class="col-md-8">
        <p>{{ attendance.students.count }}/{{ attendance.total_enrolment }} Attended</p>
        <span id="render_proof"></span>
    </div>
</div>